/.vscode
/SCAN_INTEGRATION_GUIDE.md
/SIGNAL_HISTORY_GUIDE.md
/build
/install
/log
/signal_log
/missions
/scripts
/src/insta360_ros_driver
/src/offboard_control_pkg/offboard_control_pkg/multi_drone_sender_old.py